.i img{
    width: 50px;
    height:40px;
    float: left;
    position: relative;
}
.nihao{
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    color: #666;
    background-image: url("../img/jsbeijingtu1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
   
}